{% extends "base.html" %}

{% block head %}
<title>Add game</title>
{% endblock %}

{% block body %}
<h1>Add new game</h1>

<form method="POST">

    <label for="game_name">Name</label>
    <input type="text" id="game_name" name="game_name" required>

    <label for="genre">Genre</label>
    <select id="genre" name="genre" required>
        <option value="">Select genre</option>
        <option value="Strategy">Strategy</option>
        <option value="Cooperative">Cooperative</option>
        <option value="Party">Party</option>
        <option value="Card Game">Card Game</option>
        <option value="Family">Family</option>
        <option value="Abstract">Abstract</option>
        <option value="Thematic">Thematic</option>
        <option value="Eurogame">Eurogame</option>
    </select>

    <label for="rating">Rating (According to BGG)</label>
    <input type="number" id="rating" name="rating" required>

    <label for="min_players">Minimum of players</label>
    <input type="number" min="0" id="min_players" name="min_players" required>

    <label for="max_players">Maximum of players</label>
    <input type="number" min="0" id="max_players" name="max_players" required>

    <button type="submit">Save</button>
</form>

<a href="/games">Back</a>
{% endblock %}