{% extends "base.html" %}
{% block head %}
<title>Games</title>
{% endblock %}

{% block body %}
<h1>Games</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Genre</th>
        <th>Rating (BGG)</th>
        <th>Participant number</th>
        <th>Updated (date)</th>
        <th></th>
        <th></th>
    </tr>

    {% for game in games %}
    <tr>
        <td>{{ game.name }}</td>
        <td>{{ game.genre }}</td>
        <td>{{ game.rating }}</td>
        <td>{{ game.ideal_participants_range }}</td>
        <td>{{ game.last_updated }}</td>
        <td><a href="/edit_game/{{ game.id }}">Edit</a></td>
        <td><form action="/delete_game/{{ game.id }}" method="POST" onsubmit="return confirm('Are you sure you want to delete {{ game.name }}?');">
            <button type="submit">Remove</button>
        </form> <!-- The onsubmit handler runs before the browser follows the href. If confirm() returns false, the deletion is cancelled. If it returns true, the browser proceeds with the delete operation.-->
        </td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="/add_game">Add game to list</a>
{% endblock %}