{% extends "base.html" %}
{% block head %}
<title>Players</title>
{% endblock %}

{% block body %}
<h1>Players</h1>

<table>
    <tr>
        <th>Nickname</th>
        <th>Games played</th>
        <th>Wins</th>
        <th>Ranking</th>
        <th></th>
        <th></th>
    </tr>

    {% for player in players %}
    <tr>
        <td>{{ player.name }}</td>
        <td>{{ player.games_played }}</td>
        <td>{{ player.wins }}</td>
        <td>{{ player.ranking }}</td>
        <td><a href="/edit_player/{{ player.id }}" >Edit</a></td>
        <td><form action="/delete_player/{{ player.id }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this player?');">
            <button type="submit">Delete player</button>
        </form> <!-- The onsubmit handler runs before the browser follows the href. If confirm() returns false, the deletion is cancelled. If it returns true, the browser proceeds with the delete operation.-->
        </td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="/add_player">Add a new player</a>
{% endblock %}