{% extends "base.html" %}
{% block head %}
<title>Players</title>
{% endblock %}

{% block body %}
<h1>Players</h1>

<form method="get" action="/players" class="mb-3">
    <label for="order">Sort by ranking:</label>
    <select name="order" id="order">
        <option value="desc" {% if selected_order == "desc" %}selected{% endif %}>
            Highest → Lowest
        </option>
        <option value="asc" {% if selected_order == "asc" %}selected{% endif %}>
            Lowest → Highest
        </option>
    </select>
    <button type="submit">Sort</button>
</form>

<table class="table table-striped table-hover table-bordered align-middle">
    <tr>
        <th>Nickname</th>
        <th>Games played</th>
        <th>Wins</th>
        <th>Ranking</th>
        <th></th>
        <th></th>
    </tr>

    {% for player in players %}
    <tr>
        <td>{{ player.name }}</td>
        <td>{{ player.games_played }}</td>
        <td>{{ player.wins }}</td>
        <td>{{ player.ranking }}</td>
        <td><a href="/edit_player/{{ player.id }}" >Edit</a></td>
        <td><form action="/delete_player/{{ player.id }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this player?');">
            <button type="submit">Delete player</button>
        </form> <!-- The onsubmit handler runs before the browser follows the href. If confirm() returns false, the deletion is cancelled. If it returns true, the browser proceeds with the delete operation.-->
        </td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="/add_player">Add a new player</a>
{% endblock %}